body {
    width: 800px;
    margin: 3vh auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5em;
}

.scores {
    color: purple;

}

h1, .question {
    font-size:3em;
    font-weight: bold;
}

h2, .rightwrong {
    font-size:2em;
    font-weight: normal;
    font-style: italic;
    color: grey;
    text-decoration: underline;
}

nav:link {
    color: inherit;
    text-decoration: inherit;
}
nav:visited {
    color: inherit;
    text-decoration: inherit;
}
nav:hover, nav:focus {
    color: rgb(15, 155, 211);
    text-decoration: inherit;
    cursor: pointer;
}
nav:active {
    color: darkgrey;
    text-decoration: inherit;
}

.timer {

}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro * {
    margin: 15px 0;
}

main, .submit, .highscores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main *, .submit *, .highscores * {
    margin: 0.5em 0;
}

#submitbuttons, #highscorebuttons {
    display: flex;
    align-items: center;
}

#submitbuttons *, #highscorebuttons * {
    margin-right: 1.5em;
}

.records {
    background-color: rgb(197, 156, 197);
    color: green;
}

button {
    min-width: 150px;
    height: 2em;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: purple;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(15, 155, 211);
}

.btn2 {
    width: 15em;
    padding: 0 1em;
    text-align: left;
}

.rightwrong {
    /*border-top: 1px solid grey;*/
    padding-top: 0px;
}